<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

# путь к БД на вашем компьютере (например, в той же папке, что и тетрадь)
path_to_db_local = 'telecomm_csi.db'
# путь к БД на платформе
path_to_db_platform = '/datasets/telecomm_csi.db'
# итоговый путь к БД
path_to_db = None

# если путь на вашем компьютере ведёт к БД, то он становится итоговым
if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
# иначе: если путь на платформе ведёт к БД, то он становится итоговым
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
# иначе выводится сообщение о том, что файл не найден
else:
    raise Exception('Файл с базой данных SQLite не найден!')

# если итоговый путь не пустой
if path_to_db:
    # то создаём подключение к базе
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

In [2]:
query = """
    SELECT u.user_id,
           u.lt_day,
           case
                 when u.lt_day <= 365 then 'Новый'
                 else 'Старый'
                 end as it_new,
           u.age,
           case
                 when u.gender_segment == 1 then 'Мужчина'
                 when u.gender_segment == 0 then 'Женщина'
                 else 'z'
                 end as gender_segment,
           u.os_name,
           u.cpe_type_name,
           l.country,
           l.city,
           substr (a.title, 4) as age_segment,      
           substr (t.title, 4) as traffic_segment,
           substr (ls.title, 4) as lifetime_segment,          
           u.nps_score,
           case 
                 when u.nps_score >= 9 then 'Сторонник'
                 when u.nps_score >= 7 then 'Нейтрал'
                 else 'Критик'
                 end as nps_group   
    FROM user u
    JOIN location l on u.location_id = l.location_id
    JOIN age_segment a on u.age_gr_id = a.age_gr_id
    JOIN traffic_segment t on u.tr_gr_id = t.tr_gr_id
    JOIN lifetime_segment ls on u.lt_gr_id = ls.lt_gr_id;
    """

In [3]:
df = pd.read_sql(query, engine)

In [4]:
df.head(10)

,user_id,lt_day,it_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,Старый,45.0,Мужчина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,Сторонник
1,A001WF,2344,Старый,53.0,Женщина,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,Сторонник
2,A003Q7,467,Старый,57.0,Женщина,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,Сторонник
3,A004TB,4190,Старый,44.0,Мужчина,IOS,SMARTPHONE,Россия,РостовнаДону,35-44,0.1-1,36+,10,Сторонник
4,A004XT,1163,Старый,24.0,Женщина,ANDROID,SMARTPHONE,Россия,Рязань,16-24,5-10,36+,10,Сторонник
5,A005O0,5501,Старый,42.0,Мужчина,ANDROID,SMARTPHONE,Россия,Омск,35-44,5-10,36+,6,Критик
6,A0061R,1236,Старый,45.0,Женщина,ANDROID,SMARTPHONE,Россия,Уфа,45-54,10-15,36+,10,Сторонник
7,A009KS,313,Новый,35.0,Женщина,ANDROID,SMARTPHONE,Россия,Москва,35-44,45-50,7-12,10,Сторонник
8,A00AES,3238,Старый,36.0,Мужчина,ANDROID,SMARTPHONE,Россия,СанктПетербург,35-44,1-5,36+,10,Сторонник
9,A00F70,4479,Старый,54.0,Мужчина,ANDROID,SMARTPHONE,Россия,Волгоград,45-54,15-20,36+,9,Сторонник

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502493 entries, 0 to 502492
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           502493 non-null  object
 1   lt_day            502493 non-null  int64
 2   it_new            502493 non-null  object
 3   age               501939 non-null  float64
 4   gender_segment    502493 non-null  object
 5   os_name           502493 non-null  object
 6   cpe_type_name     502493 non-null  object
 7   country           502493 non-null  object
 8   city              502493 non-null  object
 9   age_segment       502493 non-null  object
 10  traffic_segment   502493 non-null  object
 11  lifetime_segment  502493 non-null  object
 12  nps_score         502493 non-null  int64
 13  nps_group         502493 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 53.7+ MB

In [6]:
df.to_csv('file.csv')

Спасибо за структурированный ответ и комментарии.
Подкорректировал проект, высылаю.


https://public.tableau.com/app/profile/sergey.gordeychuk/viz/2_16836571169070/Story1?publish=yes